body {
    background: #b8b8bd; /* Light grey background */
    background-size: cover; /* Ensure the background covers the screen */
    background-repeat: no-repeat; /* Prevent tiling */
    background-position: center; /* Center the background */
    height: 100vh;
}

button {
    background-color: darkblue;
    color: white;
}